@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";


:root {
  --background: #ffffff;
  --foreground: #3f3e3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
